/*-------------------------------
Font Face
-------------------------------*/

/* Inter */

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Regular.woff2") format("woff2"),
    url("/fonts/inter/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Medium.woff2") format("woff2"),
    url("/fonts/inter/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-SemiBold.woff2") format("woff2"),
    url("/fonts/inter/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/*-------------------------------
Fonts
-------------------------------*/

html {
  @apply text-base font-inter antialiased;
}

h1,
h2.h1 {
  @apply text-5xl tablet:text-4xl font-semibold;
}

h2,
h1.h2 {
  @apply text-4xl tablet:text-3xl font-semibold;
}

h3 {
  @apply text-3xl tablet:text-2xl;
}

h4 {
  @apply text-2xl tablet:text-xl;
}

h5 {
  @apply text-base uppercase font-semibold;
}

p {
  @apply tracking-tight leading-relaxed;
}

/*-------------------------------
Helpers
-------------------------------*/

/*-------------------------------
Wysiwyg
-------------------------------*/

.wysiwyg {
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    @apply mb-5;

    &:last-child {
      @apply mb-0;
    }
  }
}

.wysiwyg a {
  @apply text-black underline hover:no-underline;
}

.wysiwyg img {
  @apply mb-5;
}
